.container {
    background-color: black;
    color: white;
    padding: 20px ;
    margin: 30px 0;
    text-align: center;
}

.inner {
    background-color: gray;
    border: 2px solid black;
    border-radius: 25px;
    padding: 15px;
    margin: auto;
}

.outer {
    background-color: darkblue;
    color: white;
    margin: 10px 0;
    border: 10px black solid;
    border-radius: 25px;
    text-align: center;
}